# Guacamole Database
GUACAMOLE_DB_USER=guacamole
GUACAMOLE_DB_NAME=guacamole_db
GUACAMOLE_DB_PASSWORD=change_me_to_a_strong_password

# Guacamole Admin UI
GUACAMOLE_USER=guacadmin
GUACAMOLE_PASSWORD=change_me_to_a_strong_password