services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    command: tunnel --no-autoupdate run
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
    networks:
      - external_network
    restart: unless-stopped

  code-server:
    image: lscr.io/linuxserver/code-server:latest
    container_name: code-server
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Africa/Nairobi
      - PASSWORD=${PASSWORD}
      - SUDO_PASSWORD=${SUDO_PASSWORD}
      - DEFAULT_WORKSPACE=/config/workspace
      - PWA_APPNAME=code-server
    volumes:
      - /docker/code-server/config:/config
      - /docker:/config/workspace/docker:rw
      - /home/leo:/config/workspace/home:rw
      - /mnt/d:/config/workspace/mntd:rw
    ports:
      - 8443:8443
    networks:
      - external_network
    restart: unless-stopped

  copyparty:
    image: copyparty/ac:latest
    container_name: copyparty
    user: "1000:1000"
    ports:
      - 3923:3923
    volumes:
      - /docker/copyparty/cfg:/cfg
      - /docker:/docker:rw
      - /home/leo:/home/leo:rw
      - /mnt/d:/mnt/d:rw
      - /run/media/leo/f:/mnt/f:rw
    environment:
      LD_PRELOAD: /usr/lib/libmimalloc-secure.so.NOPE
      PYTHONUNBUFFERED: 1    
    networks:
      - external_network
    stop_grace_period: 15s
    restart: unless-stopped

  dozzle:
    image: amir20/dozzle:latest
    container_name: dozzle
    ports:
      - 8380:8080
    networks:
      - external_network
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped
    
  filewizard:
    image: loredcast/filewizard:latest
    container_name: filewizard
    environment:
      - LOCAL_ONLY=True # False for Auth
      - SECRET_KEY= # set if using auth
      - UPLOADS_DIR=/app/uploads # inside the container
      - PROCESSED_DIR=/app/processed # inside the container
      - OMP_NUM_THREADS=1
      - DOWNLOAD_KOKORO_ON_STARTUP=true
    ports:
      - "6969:8000"
    networks:
      - internal_network
    volumes:
      - /docker/filewizard/config:/app/config # settings.yml will be here
      - /docker/filewizard/data/uploads:/app/uploads
      - /docker/filewizard/data/processed:/app/processed
    restart: unless-stopped

  hbbs:
    container_name: hbbs
    image: rustdesk/rustdesk-server:latest
    environment:
      #- ALWAYS_USE_RELAY=Y
    command: hbbs
    volumes:
      - /docker/rust/data:/root
    network_mode: "host"

    depends_on:
      - hbbr
    restart: unless-stopped

  hbbr:
    container_name: hbbr
    image: rustdesk/rustdesk-server:latest
    command: hbbr
    volumes:
      - /docker/rust/data:/root
    network_mode: "host"
    restart: unless-stopped
    
  watchtower:
    image: nickfedor/watchtower
    container_name: watchtower
    environment:
      - TZ=Africa/Nairobi
      - WATCHTOWER_TRACE=true
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_POLL_INTERVAL=10800
      - WATCHTOWER_INCLUDE_RESTARTING=true
      - WATCHTOWER_NOTIFICATIONS=shoutrrr
      - WATCHTOWER_NOTIFICATIONS_HOSTNAME=LEO-MPC01
      - WATCHTOWER_NOTIFICATION_URL=${WATCHTOWER_NOTIFICATION_URL}
    networks:
      - internal_network
      - external_network
    volumes:
      - /docker/watchtower/config.json:/config.json
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: always

networks:
  internal_network:
    external: true
  external_network:
    external: true
