services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    command: tunnel --no-autoupdate run
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
    networks:
      - external_network
    restart: unless-stopped

  code-server:
    image: lscr.io/linuxserver/code-server:latest
    container_name: code-server
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Africa/Nairobi
      - PASSWORD=${PASSWORD}
      - SUDO_PASSWORD=${SUDO_PASSWORD}
      - DEFAULT_WORKSPACE=/config/workspace
      - PWA_APPNAME=code-server
    volumes:
      - /docker/code-server/config:/config
      - /docker:/config/workspace/docker:rw
      - /home/leo:/config/workspace/home:rw
      - /mnt/d:/config/workspace/mntd:rw
    ports:
      - 8443:8443
    networks:
      - external_network
    restart: unless-stopped

  copyparty:
    image: copyparty/ac:latest
    container_name: copyparty
    user: "1000:1000"
    ports:
      - 3923:3923
    volumes:
      - /docker/copyparty/cfg:/cfg
      - /docker:/docker:rw
      - /home/leo:/home/leo:rw
      - /mnt/d:/mnt/d:rw
      - /run/media/leo/f:/mnt/f:rw
    environment:
      LD_PRELOAD: /usr/lib/libmimalloc-secure.so.NOPE
      PYTHONUNBUFFERED: 1    
    networks:
      - external_network
    stop_grace_period: 15s
    restart: unless-stopped

  dockpeek:
    image: dockpeek/dockpeek:latest
    container_name: dockpeek
    environment:
      - SECRET_KEY=your_secure_secret_key
      - USERNAME=leo
      - PASSWORD=2024P!thag0ras
    #  - DOCKER_HOST_NAME=
    ports:
      - "3420:8000"
    networks:
      - internal_network
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    
  filewizard:
    image: loredcast/filewizard:latest
    container_name: filewizard
    environment:
      - LOCAL_ONLY=True # False for Auth
      - SECRET_KEY= # set if using auth
      - UPLOADS_DIR=/app/uploads # inside the container
      - PROCESSED_DIR=/app/processed # inside the container
      - OMP_NUM_THREADS=1
      - DOWNLOAD_KOKORO_ON_STARTUP=true
    ports:
      - "6969:8000"
    networks:
      - internal_network
    volumes:
      - /docker/filewizard/config:/app/config # settings.yml will be here
      - /docker/filewizard/data/uploads:/app/uploads
      - /docker/filewizard/data/processed:/app/processed
    restart: unless-stopped

networks:
  internal_network:
    external: true
  external_network:
    external: true
