services:
  copyparty:
    image: copyparty/ac:latest
    container_name: copyparty
    user: "1000:1000"
    ports:
      - 3923:3923
    volumes:
      - /docker/copyparty/cfg:/cfg
      - /docker:/docker:rw
      - /home/leo:/home/leo:rw
      - /mnt/d:/mnt/d:rw
      - /run/media/leo/f:/mnt/f:rw
    environment:
      LD_PRELOAD: /usr/lib/libmimalloc-secure.so.NOPE
      PYTHONUNBUFFERED: 1    
    networks:
      - external_network
    stop_grace_period: 15s
    restart: unless-stopped
    
networks:
  external_network:
    external: true
