services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    command: tunnel --no-autoupdate run
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
    networks:
      - internal_network
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    restart: unless-stopped

  dockpeek:
    image: dockpeek/dockpeek:latest
    container_name: dockpeek
    environment:
      - SECRET_KEY=your_secure_secret_key
      - USERNAME=leo
      - PASSWORD=2024P!thag0ras
    # Server name for UI (optional, auto-detected from Docker API if not set)
    #  - DOCKER_HOST_NAME=
    ports:
      - "3420:8000"
    networks:
      - internal_network
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped

#  tailscale:
#    image: tailscale/tailscale:latest
#    container_name: tailscale-exit
#    hostname: ubuntu-exit-node
#    network_mode: host
#    command: tailscaled
#    cap_add:
#      - NET_ADMIN
#      - SYS_MODULE
#    devices:
#      - /dev/net/tun:/dev/net/tun
#    volumes:
#      - /docker/tailscale:/var/lib/tailscale
#    environment:
#      - TS_STATE_DIR=/var/lib/tailscale
#      - TS_USERSPACE=false
#    restart: unless-stopped

#  hbbs:
#    container_name: hbbs
#    image: rustdesk/rustdesk-server:latest
#    #environment:
#      #- ALWAYS_USE_RELAY=Y
#    command: hbbs
#    volumes:
#      - /docker/rust/data:/root
#    network_mode: "host"
#    depends_on:
#      - hbbr
#    restart: unless-stopped

#  hbbr:
#    container_name: hbbr
#    image: rustdesk/rustdesk-server:latest
#    command: hbbr
#    volumes:
#      - /docker/rust/data:/root
#    network_mode: "host"
#    restart: unless-stopped



networks:
  internal_network:
    external: true
