services:
  watchtower:
    image: nickfedor/watchtower
    container_name: watchtower
    environment:
      - DOCKER_API_VERSION=1.52
      - TZ=Africa/Nairobi
      - WATCHTOWER_TRACE=true
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_POLL_INTERVAL=21600
      - WATCHTOWER_LABEL_ENABLE=true
      - WATCHTOWER_INCLUDE_RESTARTING=true
      - WATCHTOWER_NOTIFICATIONS=shoutrrr
      - WATCHTOWER_NOTIFICATIONS_HOSTNAME=SRV1046363
      - WATCHTOWER_NOTIFICATION_URL=${WATCHTOWER_NOTIFICATION_URL}
    networks:
      - internal_network
    volumes:
      - /docker/watchtower/config.json:/config.json
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: always

networks:
  internal_network:
    external: true
